@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

body {
    font-family: 'VT323', monospace !important;
	
    letter-spacing: 0.04em;
    color: rgba(36, 36, 36);
    font-size: 24px;
    overflow-x: hidden;
}